.header-container {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
    /* Reduce the height */
}

.logo {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.title {
    margin: 0;
    color: #333;
    text-align: center;
}

.username {
    margin: 0;
    text-align: right;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.dropdown-item {
    padding: 10px 20px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item a {
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
    color: #1890ff;
}

.dropdown-item:hover link {
    color: #1890ff;
}

@media (max-width: 768px) {
    .header-container {
        padding: 10px;
    }

    .title {
        font-size: 16px;
    }

    .username {
        font-size: 14px;
    }

    .user img {
        width: 30px;
        height: 30px;
    }
}