.icon {
    transition: transform 0.3s ease-in-out;
    /* Apply smooth transition */
}

.icon:hover {
    transform: scale(1.5);
    /* Zoom in on hover */
}


.ant-table-row:hover {
    background-color: #c9c2c2;
}