.custom-search .ant-input,
.custom-search .ant-input-affix-wrapper {
    height: 28px;
    /* Adjust the height to your desired value */
    line-height: 28px;
    font-size: 14px;
    /* Ensure the font size matches */
}

.custom-search .ant-input-search-button {
    height: 28px;
    /* Adjust the height to match the input */
    line-height: 28px;
}

.custom-search .ant-input-clear-icon {
    line-height: 28px;
    height: 28px;
    /* Adjust the height to match the input */
}

.custom-search .ant-input-clear-icon:hover {
    line-height: 28px;
    height: 28px;
    /* Ensure hover state is consistent */
}